
// components
@forward 'components/buttons';
@forward 'components/section-title';

// themes
@forward 'themes/theme';

// vendors
@forward 'vendors/meanmenu';
@forward 'vendors/slick';

// layout
@forward 'layout/header';
@forward 'layout/hero';
@forward 'layout/category';
@forward 'layout/selling';
@forward 'layout/trip';
@forward 'layout/testiminial';



