@use '../helper'as *;

/*****Reuse Class*****/

/*Section title*/

.za-section {
    &-title {
        // font-family: var(--za-ff-heading);
        // font-size: 40px;
        // font-weight: bold;
        color: var(--za-cr-text-blueCharcoal);

        &-sub {
            font-size: 18px;
            font-weight: var(--za-fw-semiBold);
            color: var(--za-cr-text-slateBlue);
        }
    }
}