@use '../helper'as *;

/*****Reuse Class*****/

/*Section title*/

.za-section {
    &-title {
        color: var(--za-cr-text-blueCharcoal);
        line-height: 1.45;

        &-sub {
            font-size: 18px;
            font-weight: var(--za-fw-semiBold);
            color: var(--za-cr-text-slateBlue);
        }
    }
}