@use '../helper'as *;

/*--Category Area--*/

.za-category{
    &-area{
        padding: 120px 0;
    }
    &-row{
        gap: 30px;
    }
}


.za-category-item {
    padding: 25px;
    background: #f7f7f7;
}