@use '../helper'as *;

/*--Footer Area--*/
.za-footer {
    &-row {
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
        gap: 30px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-company,
    &-contact,
    &-more {
        & ul {
            padding-left: 0;
            display: grid;
            gap: 12px;

            & li {
                & a {
                    font-size: 16px;
                    color: #5E6282;
                    font-weight: 600;
                }
            }
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &-about {
        & p {
            font-size: 14px;
            font-weight: var(--za-fw-medium);
            color: #5E6282;
        }
    }

    &-social {
        & i {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            padding: 10px;
            text-align: center;
            align-content: center;
            font-size: 20px;
            transition: all 0.4s ease;

            &:hover {
                background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
                color: #fff;
            }
        }
    }

    &-app {
        & h3 {
            font-size: 20px;
            color: #5E6282
        }
    }

    &-copyRight {
        font-size: 14px;
        color: #5E6282;
    }
}