@use '../helper'as *;

/*--Header Area--*/
.za-header {
    &-row {
        gap: 200px;
    }

    &-content {
        &-box {
            gap: 50px;
        }
    }

    &-mainmune {
        & nav {
            & ul {
                gap: 40px;

                & li {

                    &:hover {
                        &>a {
                            color: var(--za-cr-theme-terraCotta);
                        }
                    }

                    & a {
                        @include transition(1s);
                    }
                }
            }
        }

    }

    &-btn {
        gap: 10px;

        & .za-btn {
            @include transition(1s);

            &:hover {
                border-radius: 5px;
                border: 2px solid var(--za-cr-theme-terraCotta);
            }

            &.active {
                border-radius: 5px;
                border: 2px solid #212832;
            }
        }
    }

    &-language {
        & .za-lang {
            &-label {
                font-size: 15px;
            }
        }
    }
}