@use '../helper'as *;

/*Header Area Style*/
.za-header {
    &-area {
        background: #ffffff66;
        position: absolute;
        width: 100%;
        border-bottom: 1.5px solid #F0EFFB;
        padding: 32px 0;

        & .container-fluid {
            @media #{$lg, $md, $sm, $od, $ods} {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &.za-sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 111;
            @include transition(0.4s);
            background: var(--za-cr-common-white);
        }
    }

    &-left {
        gap: 58px;

        @media #{$lg, $md} {
            gap: 48px;
        }
    }

    &-mainmunu {
        & ul {
            & li {
                display: inline-block;
                margin-right: 42px;
                position: relative;
                @include transition(0.3s);

                @media #{$lg, $md} {
                    margin-right: 35px;
                }

                &:hover,
                &:focus-within,
                &.active {

                    &>i,
                    &>a {
                        color: var(--za-cr-theme-primary);
                    }
                }

                &:hover {

                    &>.za-submenu {
                        opacity: 1;
                        visibility: visible;
                        top: 60px;
                    }
                }

                & .za-submenu {
                    position: absolute;
                    top: 50px;
                    left: 0;
                    background: #fff;
                    box-shadow: 1px 1px 15px #cecce359;
                    width: 220px;
                    padding-block: 8px;
                    @include transition(0.3s);
                    opacity: 0;
                    visibility: hidden;

                    & li {
                        margin-right: 0;
                        display: block;

                        & .za-submenu {
                            left: 105%;
                            top: 0;
                        }

                        & a {
                            padding: 6px 28px;
                            display: block;
                            position: relative;
                            transform: translateX(0);
                            @include transition(0.3s);

                            &::after {
                                position: absolute;
                                content: "";
                                width: 4px;
                                height: 16px;
                                border-radius: 50px;
                                background: var(--za-cr-theme-primary);
                                color: var(--za-cr-theme-primary);
                                top: 12px;
                                left: 18px;
                                opacity: 0;
                                visibility: hidden;
                                @include transition(0.3s);
                            }

                            &:hover {

                                transform: translateX(5px);

                                &::after {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }

                        &:hover {
                            &>.za-submenu {
                                left: 100%;
                            }
                        }
                    }
                }

                & a {
                    display: inline-block;
                    font-weight: var(--za-fw-medium);
                }

                & i {
                    margin-left: 6px;
                    font-size: 12px;
                }
            }
        }
    }

    &-btn {
        & .btn01 {
            @media #{$ods} {
                display: none;
            }
        }
    }

    &-toggle {
        padding: 20px;

        & i {
            font-size: 20px;
        }
    }
}

// Mobile Menu
.za-sidebar-menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 320px;
    height: 100%;
    background: #ffffff none repeat scroll 0 0;
    overflow-y: scroll;
    -webkit-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 9999;
    padding: 30px;
}

.za-sidebar-menu.sidebar-opened {
    right: 0;
}

.body-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.body-overlay.opened {
    opacity: 1;
    visibility: visible;
}

.za-sidebar-menu {
    & .logo {
        & img {
            position: absolute;
            top: 6%;
            left: 9%;
        }
    }

    & .sidebar-close {
        & i {
            position: absolute;
            top: 7%;
            left: 267px;
            color: #222;
        }
    }
    @media #{$sm, $xs, $od, $ods, $md} {
        & .mean-nav {
            & li {
                & i {
                    display: none;
                }
            }
        }
    }
}


// za-container{ max-width:1334px}