@use '../helper'as *;

/*Property Area Style*/

.za-property {
    &-area {
        background: linear-gradient(180deg, #FFF 0%, #F0EFFB 100%);
        box-shadow: 0px 4px 200px 0px rgba(232, 249, 247, 0.20);
    }

    &-content {

        & .za-nav-pills {
            padding: 8px;
            border-radius: 8px;
            border: 1.5px solid #E0DEF7;
            background: #F0EFFB;

            & .za-nav-link {
                display: block;
                padding: 11px 22px;
                font-size: 18px;
                font-weight: 500;
                color: #100A55;
                text-decoration: none;
                background: 0 0;
                border: 0;
                border: 2px solid transparent;
                opacity: 0.5;
                @include transition(0.3s);

                & svg {
                    margin-right: 8px;
                }

                &.active,
                &.show {
                    color: #7065F0;
                    font-weight: 700;
                    border-radius: 6px;
                    border: 2px solid #E0DEF7;
                    background: #FFF;
                    box-shadow: 0px 3px 40px 0px rgba(14, 8, 84, 0.05);
                    opacity: 1;

                    & svg {
                        margin-right: 8px;
                        opacity: 1;

                        & path {
                            stroke: #7065F0;
                        }
                    }
                }
            }
        }

        & form {
            & .form-control {
                width: 352px;
                padding: 22px 40px;
                font-size: 16px;
                font-weight: 500;
                color: #000929;
                background: #F0EFFB;
                box-shadow: 0px 4px 200px 0px rgba(232, 249, 247, 0.20);

                &::placeholder {
                    font-size: 16px;
                    font-weight: 500;
                    opacity: 0.5;
                    color: #000929;
                }
            }

            & .fa-icon {
                position: absolute;
                top: 28px;
                left: 20px;
                opacity: 0.5;
                font-size: 16px;
                color: #000929;
            }
        }

        & .za-tab-content {
            & .za-card {
                &-item {
                    width: 352px;
                    height: 424px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    border: 1.5px solid var(--Shades-of-Purple-Purple-96, #F0EFFB);
                    background: var(--Main-Color-White, #FFF);
                }

                &-img {
                    overflow: hidden;
                    position: relative;
                    border-radius: 8px 8px 0px 0px;

                    & img {
                        width: 352px;
                        transition: all 0.4s ease 0s;
                    }

                    &:hover {
                        & img {
                            transform: scale(1.2);
                        }
                    }
                }

                &-text {
                    padding: 32px 24px;

                    & .za-price {
                        & h6 {
                            color: #7065F0;
                            font-size: 24px;
                            font-weight: 800;

                            & span {
                                color: #000929;
                                font-size: 16px;
                                font-weight: 400;
                                opacity: 0.5;
                            }
                        }
                    }

                    & h4 {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    & p {
                        color: #000929;
                        font-size: 16px;
                        font-weight: 400;
                        opacity: 0.5;
                    }

                    & .za-line {
                        width: 100%;
                        height: 1.5px;
                        background-color: #F0EFFB;
                    }

                    & .za-facilities {
                        gap: 16px;

                        & li {
                            padding-top: 12px;

                            & span {
                                font-size: 14px;
                                font-weight: 400;
                                color: #000929;
                                opacity: 0.7;
                                padding-left: 5px;
                            }

                        }
                    }
                }
            }
        }
    }
}