$colors: (
    common: (
        white: #ffffff,
        black: #222222,
    ),

    theme: (
        terraCotta: #DF6951,
        gldenYellow: #F1A501,
        deepTeal: #006380,
        ),        

    text: (
        white: #ffffff,  
        blueCharcoal: #14183E,    
        slateBlue: #5E6282,    
        coolGray: #84829A,    
        richBlack: #080809,    
    )    
);