$colors: (
    common: (
        white: #ffffff,
        black: #222222,
        purple:#E0DEF7,
        grey: #F9FAFB,
    ),

    theme: (
        primary: #7065F0,
        secondary:#005128,
    ),

    text: (
        black: #000929,      
    )    
);
